.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.categories{
    display: flex;
    justify-content: space-between;
}

.navbarCenter {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 480px) {
    .navbarCenter {
        position: relative;
        left: 0;
        transform: none;
    }
}

.navbarCart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative; /**/
}

.category{
    padding: 1rem;
    cursor: pointer;
}

.category:hover{
    color: #10b981;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2.2em;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #10b981;
}

.selectedCategory{
    color: #10b981;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2.2em;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #10b981;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: #10b981;
    font-family: 'Roboto Condensed', sans-serif;
}
